@charset "utf-8";

.backgound-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-main-title);
    font-size: 11.5vw;
    color: var(--color-peach-light);
    text-align: center;
    letter-spacing: -3px;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 14vh;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}
/**** 위쪽 그리드 영역****/
.top-wrapper {
    height: 50vh;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 0;
}

/**** 소개 액자 ****/
.aboutme-line {
    flex-direction: column;
    place-content: flex-end;
    gap: 2vw;
    place-self: flex-end;
}
.aboutme-line a {
    width: 15vw;
    display: flex;
}
.aboutme-line .post-iems {
    position: relative;
    width: 150px;
    right: 3vw;
    gap: var(--menu-list-gap);
}


/**** 소셜 ****/
.favorite-canvas {
    gap: 1vw;
    grid-column: 3 / 4;
    flex-direction: column;
    position: relative;
    place-content: end;
}

.favorite-canvas .sociaol-wrapper {
    place-content: center;
    place-self: center;
}

.favorite-canvas .sociaol-wrapper .social-links {
    grid-template-columns: repeat(3, 50px);
    gap: var(--menu-list-gap);
    margin-left: var(--menu-list-gap);
}

.poster-container {
    position: relative;
    width: 5vw;
    margin-left: 8vw;
    bottom: -2vw;
}

.poster-container img {
    cursor: pointer; 
}


/**** 아래쪽 영역 ****/

.under-wrapper {
    grid-row: 2 /3;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
}

.under-wrapper:after {
    z-index: -999;
    content: '';
    width: 90%;
    height: 0.3vw;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

/**** 책상 영역 ****/
.desk-canvas {
    grid-column: 1 / 2;
}

.desk-canvas .computer {
    justify-content: right;
}

.light-wrapper {
    position: relative;
    bottom: -0.3vw;
    cursor: pointer;
}

.desk-canvas .computer .computer-set {
    flex-direction: column;
    position: relative;
    bottom: -10px;
    justify-content: flex-end;
    align-items: center;
}
.desk-canvas .computer .computer-leg {
    width: 4.5vw;
    z-index: -99;
}
.desk-canvas .computer .computer-set a {
    display: flex;
    z-index: 99999;
    width: 18vw;
    place-items: end;
    transition: 0.3s;
    position: relative;
    bottom: -1.5vw;
}
.desk-canvas .computer .computer-set a:hover {
    bottom: -0.6vw;
}

.desk {
    display: flex;
    width: 100%;
    z-index: 999999;
    justify-content: end;
}
.desk img {
    width: 90%;
}


/* 캐릭터 */

.dog {
    position: relative;
    grid-column: 2 / 3;
}
.mydog {
    position: fixed;
    width: 460px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 45px;
}
.eye-container {
    position: fixed;
    left: 50%;
    bottom: 290px;
    transform: translateX(-50%);
    z-index: 999;
}
.eye {
    width: 1.4rem;
    height: 1.9rem;
    background-color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.pupil {
    width: 0.9rem;
    height: 0.9rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}


.house-canvas {
    grid-column: 3 / 4;
    position: relative;
    align-items: end;
    gap: 1vw;
}
.house-canvas .flower {
    position: relative;
    bottom: -0.3vw;
}

.house-canvas .dog-house {
    cursor: pointer;
}
