@charset "utf-8";
/* Anton.css */

@font-face {
  font-family: 'Anton';
  src: url(../fonts/Anton/Anton-Regular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}