@charset "utf-8";
/* Axiforma.css */

@font-face {
  font-family: 'Axiforma';
  src: local('Axiforma-Bold'), 
    url(../font/Axiforma-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Axiforma';
  src: local('Axiforma-Medium'), 
    url(../font/Axiforma-Medium.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Axiforma';
  src: local('Axiforma-Regular'), 
    url(../font/Axiforma-Regular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Axiforma';
  src: local('Axiforma-Light'), 
    url(../font/Axiforma-Light.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}